@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background-color: #000;
   color: #fff;
   font-family: 'Inter', sans-serif;
}
