@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

body {
  background-color: #000;
  color: #FFF;
  font-family: 'Inter', sans-serif;
}
